<div class="modal-body">
    <center>
        <div class="well" style="width: 50%; margin-top: 100px;">

            <h4>@Html.Raw(TempData["Error"])</h4>

            @*@{ var message = " <img src='..//images//unsatisfied.png' /> <br/> Thanks for your valuable Feedback.<br/> We are sorry, we will assign concern team to help you better."; }
                <h2> @Html.Raw(message)</h2>*@

        </div>
    </center>
</div>